body {
  padding: 25px; margin: 0; width: 500px; height: 250px;
  display: flex; align-items: center; justify-content: center;
}

ul { list-style: none; padding-left: 0; }

hr { margin: 35px 0; }

#website-config { text-align: center; font-size: 24px; }
#label { margin-bottom: 25px; }

button { font-size: 20px; }
